<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>My Blog</title>
    <link rel="stylesheet" type="text/css" href="/static/css/blogcss2.css">

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/blog-home.css" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="../static/js/jquery.js"></script>


</head>

<body style="background-color:#EEE">
<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Home</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    {#                        <a href="/editor/{{ user.id }}">Write blog</a>#}
                    <a id="id-a-writeblog" href="#">Write blog</a>
                </li>
            </ul>
            <form action="/register" class="navbar-form navbar-right" method="post">
                <div class="form-group">
                    <input type="text" placeholder="Username" name="username" class="form-control">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="Password" name="password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Sign in</button>
                <button id="id-button-logout" type="button" class="btn btn-danger">Log out</button>
            </form>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<div id="id-div-current_user" data-current_user_id="{{ current_user_id }}"></div>


<!-- Page Content -->
<div class="container">
    <article class="article the-font">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 id="id-h1-top" class="page-header">
                    我的博客
                    <small>概览</small>
                </h1>

                <!-- First Blog Post -->
                <div id="id-div-blogitems">
                    {% for blog in blogs %}
                        <h2>
                            <a href="/blog/details/{{ blog.id }}">{{ blog.title }}</a>
                        </h2>
                        <p class="lead">
                            by <a class="class-a-user_id" href="/{{ user.id }}">{{ user.username }}</a>
                        </p>
                        <p><span class="glyphicon glyphicon-time"></span> Posted on
                            <time>{{ blog.created_time }}</time>
                        </p>
                        <hr>
                        {#                            <img class="img-responsive" src="http://placehold.it/900x300" alt="">#}
                        <img class="img-responsive" src="../static/img/01.jpg">
                        <hr>
                        <p class="class-p-blogcontent">{{ blog.content }}</p>
                        <a class="btn btn-primary" href="/blog/details">Read More <span
                                class="glyphicon glyphicon-chevron-right"></span></a>

                        <hr>
                    {% endfor %}
                </div>

                <!-- Pager -->
                <ul class="pager">
                    <li class="previous">
                        <a id="id-a-newer" href="#">&larr; Newer</a>
                    </li>
                    <li class="next">
                        <a id="id-a-older" href="#">Older &rarr;</a>
                    </li>
                </ul>

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Blog Search</h4>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                        </button>
                        </span>
                    </div>
                    <!-- /.input-group -->
                </div>

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Other People's Blog</h4>
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="list-unstyled">
                                {% for blog in other_blogs %}
                                    <li><a href="/blog/details/{{ blog.id }}">{{ blog.title }}</a> --- by <a href="/{{ blog.user.id }}">{{ blog.user.username }}</a>
                                {% endfor %}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Side Widget Well</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci
                        accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
                </div>

            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Avalon 2016</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>
    </article>
</div>

<div style="background:#384452 none repeat scroll 0% 0%;color:#BFC9D3">
    <div class="container">
        <div class="row" style="padding-top:30px;">
            <div class="col-md-7">
                <p class="lead"> Designed and built with all the love in the world by the <a href="/1">Mr.Avalon</a>.</p>
                <p>@SERVER BY <strong>NGINX</strong> AND POWER BY <strong>BANDWAGON</strong>.</p>
            </div>
            <div class="col-md-5">
                <div>
                    <h5 style="margin-bottom:15px;margin-left:18px;"><strong>CONTACT ME</strong></h5>
                    <ul>
                        <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> &nbsp
                            WECHAT</a></li>
{#                        <li><a href="http://weibo.com/2277966967/profile"><span class="glyphicon glyphicon-piggy-bank"#}
{#                                                                                aria-hidden="true"></span> &nbsp WEIBO#}
{#                        </li>#}
                        <li><a href="https://github.com/sunwk"><span class="glyphicon glyphicon-grain"
                                                                       aria-hidden="true"></span>&nbsp GITHUB</a></li>
                        <li><a href="#"><span class=" glyphicon glyphicon-send" aria-hidden="true"></span>&nbsp
                            EMAIL:<strong>sunwk@outlook.com</strong></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-12">
                <p>
                    <small>© COPYRIGHT BY Avalon</small>
                </p>
            </div>
        </div>
    </div>
</div>
<script>

    var logOut = function () {
        var button = $('#id-button-logout');
        var url = '/logout';
        button.on('click', function () {
            var request = {
                url: url,
                type: 'get',
                success: function (r) {
                    console.log('服务器返回了:', r);
                    if (r.success) {
                        window.location.href = r.url
                    }
                }
            };
            $.ajax(request);
        })
    };

    var logWarning = function () {
        var button = $('#id-a-writeblog');
        button.on('click', function () {
            console.log('点击了写博客按钮');
            var currentUserId = $('#id-div-current_user').data('current_user_id');
            if (typeof (currentUserId) == 'number') {
                window.location.href = '/editor/' + currentUserId
            } else {
                alert('请先注册登录')
            }
        })

    };


    var mdTsf = function () {
        marked.setOptions({
            renderer: new marked.Renderer(),
            gfm: true,
            tables: true,
            breaks: true,
            pedantic: false,
            sanitize: true,
            smartLists: true,
            smartypants: false
        });

        var contents = $('.class-p-blogcontent');
        console.log('选中的所有p', contents);
        for (var i = 0; i < contents.length; i++) {
            console.log('选中的当前content', contents[i]);
            var content = $(contents[i]).text();
            console.log('选中的当前content的内容：', content);
            $(contents[i]).html(marked(content))
        }
    };

    var timeTsf = function () {
        var unixTime = $('time');
        for (var i = 0; i < unixTime.length; i++) {
            var t = $(unixTime[i]).text();
            var date = new Date(Number(t));
            var Y = date.getFullYear() + '-';
            var M = (date.getMonth() + 1 < 10 ? '0' + (date.getMonth() + 1) : date.getMonth() + 1) + '-';
            var D = date.getDate() + ' ';
            var h = date.getHours() + ':';
            var m = date.getMinutes() + ':';
            var s = date.getSeconds();
            $(unixTime[i]).text(Y + M + D + h + m + s);
        }
    };


    var deleteItems = function () {
        var currentItems = $('#id-div-blogitems');
        currentItems.empty()
    };

    var insertItems = function (data, i) {
        var t = blogTemplate(data, i);
        $('#id-div-blogitems').append(t)

    };

    var blogTemplate = function (data, i) {
        var user_id = data.user.id;
        var user_name = data.user.username;
        var blog = data.blogs[i];
        var blog_id = blog.id;
        var blog_title = blog.title;
        var blog_createdTime = blog.created_time;
        var blog_content = blog.content;
        var t = `
            <h2>
                <a href="/blog/details/${blog_id}">${blog_title}</a>
            </h2>
            <p class="lead">
                by <a class="class-a-user_id" href="/${user_id}">${user_name}</a>
            </p>
            <p><span class="glyphicon glyphicon-time"></span> Posted on <time>${blog_createdTime}</time></p>
            <hr>
            <img class="img-responsive" src="../static/img/01.jpg">
            <hr>
            <p class="class-p-blogcontent">${blog_content}</p>
            <a class="btn btn-primary" href="/blog/details">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

            <hr>
            `;
        return t
    };

    var clickOlder = function () {
        var offset = 3;
        var limit = 3;
        var temp = $('.class-a-user_id')[0];
        var url = $(temp).attr('href');
        var request = {
            url: '/api' + url + '?offset=' + offset + '&limit=' + limit,
            type: 'get',
            success: function (data) {
                offset += limit;
                console.log('换页收到的数据:', data);
                deleteItems();
                // data的格式为：{'user': {'password': '001', 'note': '', 'created_time': None, 'role': 2, 'username': 'luxuanxuan', 'id': 1, 'sex': ''}, 'current_user_id': 1, 'blogs': [{'content': '### Hello Editor.md !\n2222222222222222222', 'id': 2, 'user_id': 1, 'created_time': '1474031806.26777', 'title': '2222222222222'}, {'content': '### Hello Editor.md !\n11111111111111111111111111', 'id': 1, 'user_id': 1, 'created_time': '1474031788.38075', 'title': '111111111'}]}
                for (var i = 0; i < data.blogs.length; i++) {
                    insertItems(data, i)
                }
            }
        };
        $.ajax(request);
    };

    var switchPage = function () {
        var olderButton = $('#id-a-older');
        var newerButton = $('#id-a-newer');
        olderButton.on('click', clickOlder);
    };


    var main = function () {
        logOut();
        logWarning();
        mdTsf();
        timeTsf();
        switchPage()
    };

    $(document).ready(function () {
        main();
    })
</script>

<script src="../static/js/marked.js"></script>
<!-- jQuery -->
<script src="../static/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../static/js/bootstrap.min.js"></script>

</body>

</html>
